<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubDeportivo" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Pantalla de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- 3. Pantalla de Home (Bienvenida) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <!-- 3. Pantalla de registro  -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <!-- 4. BuscarUsuario -->
        <activity
            android:name=".SerchUserActivity"
            android:exported="false" />
        <!-- 5. acciones sobre el usuario-->
        <activity
            android:name=".ActionsUserActivity"
            android:exported="false"/>
        <!-- 6. asignar actividades-->
        <activity
            android:name=".AssignActivityActivity"
            android:exported="false"/>
        <!-- 7.Detalles de las actividades -->
        <activity
            android:name=".DetailActivity"
            android:exported="false"
        />
        <activity android:name=".ActivitysAsiggnedActivity"
            android:exported="false"/>
        <!-- Comprobante -->
        <activity
            android:name=".ComprobantePagoActivity"
            android:exported="false" />
        <activity
            android:name=".CobroCuotaActivity"
            android:exported="false" />
        <activity
            android:name=".CantidadCuotasActivity"
            android:exported="false" />
        <activity
            android:name=".ListaCuotaVencerHoyActivity"
            android:exported="false" />
        <activity
            android:name=".SocioCuotaVenceHoyActivity"
            android:exported="false" />
        <activity android:name=".DetalleCuotaVencidaActivity"
            android:exported="false"/>
        <activity android:name=".ListaCuotasVencidaActivity"
            android:exported="false"/>
        <activity android:name=".CarnetSocioActivity"
            android:exported="false"/>

    </application>

</manifest>